.env

/authelia/**
!/authelia/example_secrets
!/authelia/example_secrets/**
!/authelia/example-configuration.yml
!/authelia/example-users_database.yml

/alertmanager/**
!/alertmanager/example-config.yml

/ghost/**

/ddclient/**
!/ddclient/example-ddclient.conf